site_name: Data Analysis with Python and SQL
theme:
  name: material
  palette:
    - scheme: default
      primary: pink
      accent: pink

nav:
  - Home: index.md
  - About: about.md
  - Week 10:
    - Bias and variance tradeoff: week10/bias_variance_tradeoff.ipynb